@using System.Net.Http.Json
@using CSharpFinalProject.Data
@inject HttpClient HttpClient
@inject NavigationManager NavigationManager
@* <div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu"> *@
@*     <nav class="flex-column"> *@
@*         <div class="nav-item px-3"> *@
@*             <NavLink class="nav-link" href="" Match="NavLinkMatch.All"> *@
@*                 <span class="oi oi-home" aria-hidden="true"></span> Home *@
@*             </NavLink> *@
@*         </div> *@
@*         <AuthorizeView Roles="Administrator,User"> *@
@*             <Authorized> *@
@*                 <div class="nav-item px-3"> *@
@*                     <NavLink class="nav-link" href="counter"> *@
@*                         <span class="oi oi-plus" aria-hidden="true"></span> Counter *@
@*                     </NavLink> *@
@*                 </div> *@
@*             </Authorized> *@
@*         </AuthorizeView> *@
@*         <AuthorizeView Roles="Administrator"> *@
@*             <Authorized> *@
@*                 <div class="nav-item px-3"> *@
@*                     <NavLink class="nav-link" href="fetchdata"> *@
@*                         <span class="oi oi-list-rich" aria-hidden="true"></span> Fetch data *@
@*                     </NavLink> *@
@*                 </div> *@
@*             </Authorized> *@
@*         </AuthorizeView> *@
@*     </nav> *@
@* </div>" *@

@* <RadzenStack AlignItems="AlignItems.Center" Class="rz-p-12"> *@
@*     <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" Gap="0.5rem"> *@
@*         <RadzenCheckBox @bind-Value=@multiple Name="CheckBox1" TValue="bool" /> *@
@*         <RadzenLabel Text="Allow multiple expand" Component="CheckBox1" /> *@
@*     </RadzenStack> *@
@* *@
<RadzenPanelMenu Style="width:300px">
    <RadzenPanelMenuItem Text="Subjects">
        <ChildContent>
            @foreach (var subject in subjects)
            {
                <RadzenPanelMenuItem Text="@subject.Name" Path="@("subject/" + subject.Id)"></RadzenPanelMenuItem>
            }
        </ChildContent>
    </RadzenPanelMenuItem>
    <RadzenPanelMenuItem Text="Users">
        <ChildContent>
            @foreach (var user in users)
            {
                <RadzenPanelMenuItem Text="@user.Username" Path="@("user/" + user.Id)"></RadzenPanelMenuItem>
            }
        </ChildContent>
    </RadzenPanelMenuItem>
    @* <RadzenPanelMenuItem Text="General" Icon="home"> *@
    @*     <RadzenPanelMenuItem Text="Buttons" Path="buttons" Icon="account_circle"></RadzenPanelMenuItem> *@
    @*     <RadzenPanelMenuItem Text="Menu" Path="menu" Icon="line_weight"></RadzenPanelMenuItem> *@
    @*     <RadzenPanelMenuItem Text="FileInput" Path="fileinput" Icon="attach_file"></RadzenPanelMenuItem> *@
    @*     <RadzenPanelMenuItem Text="Dialog" Path="dialog" Icon="perm_media"></RadzenPanelMenuItem> *@
    @*     <RadzenPanelMenuItem Text="Notification" Path="notification" Icon="announcement"></RadzenPanelMenuItem> *@
    @* </RadzenPanelMenuItem> *@
    @* <RadzenPanelMenuItem Text="Inputs" Icon="payment"> *@
    @*     <RadzenPanelMenuItem Text="CheckBox" Path="checkbox" Icon="check_circle"></RadzenPanelMenuItem> *@
    @*     <RadzenPanelMenuItem Text="TextBox" Path="textbox" Icon="input"></RadzenPanelMenuItem> *@
    @*     <RadzenPanelMenuItem Text="TextArea" Path="textarea" Icon="description"></RadzenPanelMenuItem> *@
    @*     <RadzenPanelMenuItem Text="Password" Path="password" Icon="payment"></RadzenPanelMenuItem> *@
    @*     <RadzenPanelMenuItem Text="Numeric" Path="numeric" Icon="aspect_ratio"></RadzenPanelMenuItem> *@
    @*     <RadzenPanelMenuItem Text="DatePicker" Path="datepicker" Icon="date_range"></RadzenPanelMenuItem> *@
    @* </RadzenPanelMenuItem> *@
    @* <RadzenPanelMenuItem Text="Data" Icon="save"> *@
    @*     <RadzenPanelMenuItem Text="DataGrid" Path="datagrid" Icon="grid_on"></RadzenPanelMenuItem> *@
    @*     <RadzenPanelMenuItem Text="DataList" Path="datalist" Icon="list"></RadzenPanelMenuItem> *@
    @*     <RadzenPanelMenuItem Text="DropDown" Path="dropdown" Icon="dns"></RadzenPanelMenuItem> *@
    @*     <RadzenPanelMenuItem Text="DropDownDataGrid" Path="dropdown-datagrid" Icon="receipt"></RadzenPanelMenuItem> *@
    @*     <RadzenPanelMenuItem Text="ListBox" Path="listbox" Icon="view_list"></RadzenPanelMenuItem> *@
    @*     <RadzenPanelMenuItem Text="TemplateForm" Path="templateform" Icon="line_style"></RadzenPanelMenuItem> *@
    @* </RadzenPanelMenuItem> *@
    @* <RadzenPanelMenuItem Text="Containers" Icon="account_box"> *@
    @*     <RadzenPanelMenuItem Text="Tabs" Path="tabs" Icon="tab"></RadzenPanelMenuItem> *@
    @*     <RadzenPanelMenuItem Text="Panel" Path="panel" Icon="content_paste"></RadzenPanelMenuItem> *@
    @*     <RadzenPanelMenuItem Text="Fieldset" Path="fieldset" Icon="account_balance_wallet"></RadzenPanelMenuItem> *@
    @*     <RadzenPanelMenuItem Text="Card" Path="card" Icon="line_style"></RadzenPanelMenuItem> *@
    @* </RadzenPanelMenuItem> *@
    @* <RadzenPanelMenuItem Text="More"> *@
    @*     <RadzenPanelMenuItem Click="OnChildClicked" Text="Item1"></RadzenPanelMenuItem> *@
    @*     <RadzenPanelMenuItem Click="OnChildClicked" Text="Item2"></RadzenPanelMenuItem> *@
    @*     <RadzenPanelMenuItem Text="More items"> *@
    @*         <RadzenPanelMenuItem Text="More sub items"> *@
    @*             <RadzenPanelMenuItem Click="OnChildClicked" Text="Item3"></RadzenPanelMenuItem> *@
    @*             <RadzenPanelMenuItem Click="OnChildClicked" Text="Item4"></RadzenPanelMenuItem> *@
    @*         </RadzenPanelMenuItem> *@
    @*     </RadzenPanelMenuItem> *@
    @* </RadzenPanelMenuItem> *@
</RadzenPanelMenu>

@* </RadzenStack> *@


@code {
    private List<Subject> subjects = new();
    private List<User> users = new();

    protected override async Task OnInitializedAsync()
    {
        subjects = await HttpClient.GetFromJsonAsync<List<Subject>>(NavigationManager.BaseUri + "api/subjects");
        users = await HttpClient.GetFromJsonAsync<List<User>>(NavigationManager.BaseUri + "api/users");
    }

}
